/.vs
/Jumpcutter_dot_net/.vs
/Jumpcutter_dot_net/obj
/Jumpcutter_dot_net/bin
/Jumpcutter_dot_net/test.mp4
/Jumpcutter_dot_net/test1.mp4
/Jumpcutter_dot_net_command_line/.vs
/Jumpcutter_dot_net_command_line/bin
/Jumpcutter_dot_net_command_line/obj
/jumpcutter_dot_net_wpf/.vs
/jumpcutter_dot_net_wpf/bin
/jumpcutter_dot_net_wpf/obj
